.td-page-meta { display: none !important; }

h2, .h2 {
    font-size: calc(1.375rem + 1.1vw);
    font-weight: 700;
}

h3, .h3 {
    font-size: calc(1.325rem + 0.9vw);
    font-weight: 500;
}

.td-max-width-on-larger-screens {
    @include media-breakpoint-up(lg) {
        max-width: 90%;
    }
}